# Python stuff
__pycache__/
*.pyc
.env

venv/
ai_env/
ai_venv/

telemetry-ai/venv/
telemetry-ai/ai_env/
telemetry-ai/ai_venv/

# Node/Frontend stuff
node_modules/
telemetry-frontend/node_modules/
telemetry-frontend/dist/
dist/
build/

# Temporary folders
#cleaning/

# Exclude specific CSV file
/home/user01/telemetry-query-system/cleaning/DataSet-05-Feb-2025_TMP-02.csv

# System files
.DS_Store
cleaning/DataSet-05-Feb-2025_TMP-02.csv
